


//VARIABLES START
$black: #191923;
$white:#FFF;
$red: #8D1038;
$backgroundGradient: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));
$white1:#FFF0F0;

//Breakpoints
$maxWidth:1920;
$maxWidthContainer:1680;
$maxWidthMiniContainer:1394;
$md1:1280;
$md2:991.98;
$md3:767.98;
$md4:479.98;


$fontSizeSidebarIcons:20px;
$fontSize20:20px;
$fontSize17:20px;
$fontSize14: 14px;
$fontSize13:13px;
$fontSize100: 100px;
$fontSize50: 50px;
$fontSize28:28px;
$fontSize24:24px;
$fontSize45:45px;
$fontSize74:74px;
$fontSize54:54px;
$fontSize22:22px;
$fontSize33:33px;
$fontSize60:60px;
$fontSize26:26px;
$fontSize90:90px;
$fontSize12:12px;
$fontSize40:40px;
//FONT START


.wrapper {
  overflow: hidden;
  font-family: Barlow Condensed;

}

.main{
  margin-top: 150px;
  @media screen and (max-width: $md2 + px) {
    margin-top: 140px;

  }
  @media screen and (max-width: $md3 + px) {
    margin-top: 130px;

  }
  @media screen and (max-width: $md3 + px) {
    margin-top: 125px;

  }
}


@font-face {
  font-family: Barlow Condensed ;
  src: url("assets/fonts/BarlowCondensed-Light.woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Barlow Condensed ;
  src: url("assets/fonts/BarlowCondensed-Regular.woff")format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Barlow Condensed ;
  src: url("assets/fonts/BarlowCondensed-Medium.woff")format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Barlow Condensed ;
  src: url("assets/fonts/BarlowCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Barlow Condensed ;
  src: url("assets/fonts/BarlowCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Commissioner ;
  src: url("assets/fonts/Commissioner-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Commissioner ;
  src: url("assets/fonts/Commissioner-Bold (1).woff") format("woff");
  font-weight: 700;
  font-style: normal;
}





//@mixin  start
@mixin h3_title() {
  font-style: normal;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

@mixin adaptive-font($pcSize,$mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 760px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / 1920));
  }
  @media (min-width: 760px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / 1920));
  }
  //font-size: calc(40px + (60 + 60 * 0.7) * ((100vw - 320px) / 1680));
}

@mixin adaptive-value($property,$startSize,$minSize,$type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px }) {
      #{$property} : calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))
    }
  } @else if $type==2 {
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property} : calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    }
  }@else {
    #{$property} : calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

  }
}


@mixin buttonHover() {
  background: var(--hover, linear-gradient(180deg, #8D1038  0%, #191923 700%));
  transition: .3s;

}


//FLEX START

.G-container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;

  @media screen and (max-width: $md3 + px) {
    padding: 0 24px;
  }
  @media screen and (max-width: $md1 + px) {
    padding: 0 15px;
  }
}

.container{
  max-width: $maxWidthMiniContainer + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $md3 + px) {
    padding: 0 0 0 0 ;

  }


}


//HEADER START


.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $black;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;


}

.header_content {
  display: flex;
  align-items: center;


}

.header_logo {
  flex: 1 1 144px;
  padding: 37px 0;
  @media screen and (max-width: $md2 + px) {
    padding: 20px 0;
  }

  @media screen and (max-width: $md3 + px) {
    padding: 10px 0;

  }

  @media screen and (max-width: $md4 + px) {
    img {
      width: 45%;
      height: 45%;
    }

  }

}

.header_menu {
  flex: 1 1 auto;


}

.header_download {
  display: flex;
  gap: 43px;
  @media screen and (max-width: $md1 + px) {
    display: none;
  }
}

.header_language {
  display: flex;
  align-items: center;
  gap: 17px;
}

.header_language a {
  font-size: $fontSize13;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 12.959px */
  text-transform: uppercase;
  font-family: Commissioner;

  &:hover {
    color: $red;
  }


}

.header_language_en {
  color: $red;
}

.header_language_de {
  color: black;

}


.header_download_btn {
  display: flex;
  gap: 25px;

  button {
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Barlow Condensed;
    font-size: $fontSize14;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;


  }
}


.header_download_btn_white {
  position: relative;
  padding: 11px 17px;
  min-width: 162px;
  text-align: left;
  border: 1px solid $black;
  color: black;
  font-size: $fontSize14;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 21.602px */
  display: flex;
  align-items: center;
  background: none;
  transition: .3s;
  gap: 30px;

  &:hover {
    background-color: $red;
    color: white;
    svg path {
      fill: white; /* Change the fill color to red on hover */
    }
  }

}


.header_download_btn_red {
  background: $backgroundGradient;
  color: white;
  padding: 11px 39px;
  min-width: 162px;
  font-size: $fontSize14;
  font-style: normal;
  font-weight: 600;
  line-height: 154.3%; /* 21.602px */
  text-transform: uppercase;
  font-family: Barlow Condensed;
  transition: .3s;

  &:hover {
    @include buttonHover
  }
}

.burger_menu {
  display: none;
}

@media screen and (max-width: $md1 + px) {
  .burger_menu {
    position: relative;
    width: 50px;
    height: 30px;
    cursor: pointer;
    display: block;
    z-index: 10;


    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      transition: .3s;
      @media screen and (max-width: $md4 + px) {
        width: 80%;


      }

    }

    &.active::after {
      transform: translateY(18px) rotate(45deg);
      width: 70%;

      @media screen and (max-width: $md4 + px) {
        transform: translateY(15px) rotate(45deg);
      }
    }

    span {
      display: block;
      width: 80%;

      height: 1px;
      background-color: black;
      position: absolute;
      top: 13px;
      right: 0;
      transition: .3s;

      @media screen and (max-width: $md4 + px) {
        top: 11px;
        width: 60%;

      }
    }

    &::before {
      content: '';
      width: 60%;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: black;
      transition: .3s;

      @media screen and (max-width: $md4 + px) {
        width: 40%;

      }

    }

    &.active::before {
      transform: translateY(-10px) rotate(-45deg);
      width: 70%;
      @media screen and (max-width: $md4 + px) {

      }
    }

    &.active span {
      transform: scaleX(0);

    }


    @media screen and (max-width: $md4 + px) {
      height: 25px;

    }
    &:hover{
      span,
      &::after,
      &::before{
        background-color: $red;
      }
    }
  }

}



//HEADER END


//HOME START




.svg_line_block {

  margin-left: 40px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 200px;
  @media screen and (max-width: 1484px) {
    display: none;
  }
}

.section_telephone_sales {
  position: relative;

}

.section_telephone_sales_content {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 100px;
    width: 0;
    height: 1px;
    background-color: $black;
    transition: 3s;

    @media screen and (max-width: $md1 + px) {
      top: 60px;

    }
    @media screen and (max-width: $md3 + px) {
      display: none;
    }
  }

  &.active::before {
    width: 20%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 120px;
    right: 130px;
    width: 1px;
    height: 100px;
    background-color: $black;
    transition: 3s;

    @media screen and (max-width: 1484px) {
      right: 70px;
    }
    @media screen and (max-width: $md3 + px) {
      display: none;
    }
  }

}

.telephone_sales_body {
  position: relative;

}

.telephone_sales_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $md3 + px) {
    flex-direction: column;
  }
  @media screen and (max-width: $md3 + px) {
    @include adaptive-value("padding-top", 70, 30, 0)

  }
  @media screen and (max-width: $md4 + px) {
    @include adaptive-value("padding-top", 40, 30, 0)

  }
  @include adaptive-value("padding-top", 100, 50, 1)
}

.telephone_sales_text {
  padding: 10px 0 0 0;
  position: relative;

  h1 {
    color: $black;
    font-size: 100px;
    max-width: 624px;
    font-weight: 400;
    text-transform: uppercase;
    @media screen and (max-width: $maxWidthContainer + px) {
      @include adaptive-font(100, 40);
      @include adaptive-value("line-height", 100, 40, 0)
    }

  }

  p {
    color: $black;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    margin: 18px 0 0;
    max-width: 513px;
    display: flex;
    align-items: center;


    @include adaptive-font(50, 22);
    @include adaptive-value("line-height", 50, 20, 0);

    @media (max-width: $md3 + px) {
      max-width: 300px;
    }
    @media (max-width: $md4 + px) {
      max-width: 200px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 50%;
    height: 1px;
    background-color: black;
    display: none;

    @media screen and (max-width: $md3 + px) {
      display: block;
      width: 40%;
      right: -40px;
      bottom: 10px;


    }
  }

  @media (max-width: $md4 + px) {
    padding: 0;
  }

}

.excellence-btn {
  padding: 16px 70px 16px;
  color: $white;
  text-align: center;
  font-size: calc($fontSize14 + 14 * (100vw / 1920));
  font-style: normal;
  font-weight: 400;
  line-height: 154.3%; /* 43.204px */
  text-transform: uppercase;
  background: $backgroundGradient;
  border-radius: 4px;
  margin: 60px 0 0;
  @media screen and (max-width: 1494px) {
    margin: calc(20px + (60 - 20) * ((100vw - 320px) / (1494 - 320))) 0 0;

  }

  &:hover {
    @include buttonHover
  }

  @media screen and (max-width: $md3 + px) {
    display: none;
  }

}

.excellence-btn_mobile {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  button {
    padding: 16px 70px 16px;
    color: $white;
    text-align: center;
    font-size: calc($fontSize12 + 14 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%; /* 43.204px */
    text-transform: uppercase;
    background: $backgroundGradient;
    border-radius: 4px;
    margin: 60px 0 0;

    &:hover {
      @include buttonHover
    }

  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 80%;
    height: 1px;
    background-color: black;

    @media screen and (max-width: $md3 + px) {
      right: 200px;
    }
  }

  @media screen and (max-width: $md3 + px) {
    display: flex;
  }
}


.telephone_sales_img {
  margin-right: 55px;
  transition: .3s;
  position: relative;

  &.hover {
    transform: rotate(20deg) scale(.9);
  }

  @media screen and (max-width: $md3 + px) {
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 70%;
      background-color: black;
      left: 0;
      bottom: 0;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 40%;
      background-color: black;
      right: 0;
      top: 0;
      @media screen and (max-width: $md4 + px) {
        top: -20px;
      }

    }
  }

}


.home_ellipse_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 10px;

}

.home_ellipse_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;


  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    background-color: $black;

    right: 560px;
    transition: 3s;

  }

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    right: 400px;
    background-color: $black;
    bottom: 0;
    transition: 3s;
  }

  &.active {
    &::after {
      width: 200px;
    }

    &::before {
      height: 120px;


    }
  }

  @media screen and (max-width: $md3 + px) {
    display: none;

  }
}


.animation_pulse {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 2.5s;
  background-color: rgba(185, 18, 84, 0.10);

}
.animation_pulse_2{
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 2.5s;
  background-color: rgba(183, 149, 164, 0.1);

}
.animation_pulse_3{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 2.5s;

  border: 1px rgba(185, 18, 84, 0.10);
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
    box-shadow: 0 0 50px rgba(185, 18, 84, 0.10);
  }

  100% {
    -webkit-transform: scale(1.3, 1.3);
    box-shadow: 0 0 50px rgba(185, 18, 84, 0.10);
    opacity: 0;
  }

}


.section_rotate_logo {
  @media screen and (max-width: $md3 + px) {
    display: none;

  }
}

.rotate_logo_block {
  min-height: 100px;

}

.rotate_logo {
  position: absolute;
  right: -200px;
  top: 0;
  background-color: white;

  img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }

}

.footer_middle_border {
  position: relative;
  min-height: 110px;

  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    background-color: black;
    transition: 3s;
    left: 50.4%;

  }

  &.active {
    &::before{
      height: 100%;
    }
  }

  @media screen and (max-width: $md1 + px) {
    display: none;
  }
  @include adaptive-value("min-height", 200, 50, 0);

}


//HOME END



//OUR SERVICES  START

.section_our_services {
  //margin-top: 133px;


}


.our_services_title {
  //padding-top: calc(50px + (133 - 50) * ((100vw - 320px) / (1680 - 320)));



  h3 {
    color: $black;
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize100;
    text-transform: uppercase;
    max-width: 1197px;
    background-color: white;

    @include adaptive-font(45 , 30 )
  }

  p {
    color: $red;
    font-style: italic;
    font-weight: 300;
    background-color: white;
    @include adaptive-font(35 , 25 );
    @include adaptive-value("margin-top",26 ,10 , 1 )

  }
  @include adaptive-value("padding-top",200 ,50 , 1 )

}

.our_services_content {

  &.active {
    background-color: $red;
  }
  @media screen  and (max-width: $md2 + px){
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  @include adaptive-value("margin-top",90 ,50 , 1 )

}

.our_services_content_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen  and (max-width: $md3 + px){
    flex-direction: column;
  }
  @include adaptive-value("margin-top",150 ,50 , 1 );
  @include adaptive-value("gap",90 ,40 , 1 )

}



.our_services_content_item:nth-child(2){
  @media screen  and (max-width: $md3 + px){
    flex-direction: column-reverse;
  }
}
.our_services_content_item .content_item_text:nth-child(2) {
  flex: inherit;
}

.content_item_text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    color: $black;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    text-decoration-color: $red;
    @include adaptive-font(75 , 40 );
    @include adaptive-value( "line-height" , 100 , 40 , 1);
    @media screen and (max-width: $md4 + px) {
      text-decoration-thickness: 1px;
      text-underline-offset: 5px;
    }
  }

  p {
    color: $black;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    line-height: calc(15px + 17 * (100vw / 1920));
    max-width: 623px;
    background-color: white;
    @include adaptive-font(22 , 12 );
    @include adaptive-value("margin-top" ,40 , 10,1)

  }

  span {
    margin-top: calc(10px + (50 - 10) * ((100vw - 320px) / (1680 - 320)));
    color: $black;
    text-align: justify;
    font-style: italic;
    font-weight: 500;
    display: block;
    max-width: 623px;
    background-color: white;
    @include adaptive-font(22,12)

  }
}

.content_image_body {
  position: relative;
  cursor: pointer;
  transition: .3s;
  width: 100%;
  height: 100%;

  img{
    filter: grayscale(100%);
    transition: .3s;

  }
}

.content_item_img_block {

  &:hover{
    img{
      filter: grayscale(0);

    }
  }
}



//OUR SERVICES  END


///telephone_sales Start


.our_telephone_sales_section {
  background: $backgroundGradient;
  padding: 10px 0 20px 0;
  position: relative;
  z-index: 10;

  @include adaptive-value("margin-top",110 ,50,1);

}


.our_telephone_sales_content {
  padding:  0 10px;

  h3 {
    color: $white;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    @include adaptive-value("line-height",73 ,20,1);
    @include adaptive-font(54,20);
    @include adaptive-value("padding-top",30 ,10,1);

  }

  span {
    color: $white;
    text-align: center;
    font-size: calc($fontSize20 + 34 * (100vw / 1680));
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    text-transform: uppercase;
    display: block;
    @include adaptive-font(30,10);
    @include adaptive-value("line-height",47 ,20,1);
    @include adaptive-value("padding-bottom",30 ,10,1);


  }
}
///telephone_sales END

//partners START


.partners_section {
  @include adaptive-value("margin-top", 102, 50, 1);

}

.partners_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners_title {
  h3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: calc($fontSize20 + 80 * (100vw / 1680));

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      background-color: $red;
      bottom: -10px;
      transition: 3s;


    }

    &.active::before {
      width: 60%;

    }

    @include h3_title();
    @include adaptive-value("line-height", 100, 40, 1);
    @media (max-width: $maxWidthContainer + px) {
      @include adaptive-font(100, 40);
      @include adaptive-value("line-height", 100, 40, 1)

    }
  }

}

.partners_title p {
  color: $black;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  max-width: 1104px;
  background-color: white;
  @include adaptive-font(22, 18);
  @include adaptive-value("line-height", 27, 21, 1);
  @include adaptive-value("margin-top", 40, 21, 1)

}


.partners_items {
  display: flex;
  align-items: center;
  margin: 35px 0 0;
  gap: 5px;
  justify-content: center;

  @media screen and (max-width: $md1 + px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include adaptive-value("margin-top", 35, 16, 1)


}
.partners_item {
  position: relative;
  cursor: pointer;
  transition: .3s;
  border-radius: 2.198px;
  border: 1.099px solid #191923;
  background-color: white;
  width: 150px;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    transition: .3s;
  }

  &:hover {
    svg path {
      fill: #4545e3;
    }
  }



}

.absolute_img{
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
//partners END




//portfolio start



.services_portfolio {
  //margin-top: 110px;
  margin-top: calc(50px + (110 - 50) * ((100vw - 320px) / (1680 - 320)));

}



.services_portfolio_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      background-color: $red;
      bottom: -10px;
      transition: 3s;
    }

    &.active::before {
      width: 50%;

    }

    @include h3_title();
    @include adaptive-font(100,40);
    @include adaptive-value("line-height",100,40,1)
  }

  p {
    color: #191923;
    text-align: center;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    margin: 30px 0 0;
    max-width: 1044px;
    @include adaptive-font(22,18);
    @include adaptive-value("line-height",27,21,1)

  }


}

.services_portfolio_items {
  display: flex;
  margin-top: 41px;



  @media screen  and (max-width: 1503px){
    overflow-x: scroll;
  }


}

.services_portfolio_item {
  border-right: 0.5px solid #FFF;
  background: linear-gradient(180deg, #191923 0%, #191923 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 16.6%;
  min-height: 670px;
  cursor: pointer;
  transition: .3s;



  h3 {

    color: $white;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 73px 5px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $white;
      bottom: -10px;
      transition: 3s;

      @media (max-width: $md4 + px) {
        display: none;
      }
    }
    &.active{
      &::before{
        width: 50%;
      }
    }
    @include adaptive-font(32,24);
    @media (max-width: $md4 + px) {
      padding: 50px 5px 0;

    }

  }

  p {
    padding: 0 17px;
    margin: 33px 0 0;
    color: $white;
    text-align: center;
    font-size: $fontSize20;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    @include adaptive-font(20,14);

  }

  span {
    margin: 33px 0 0;
    color: white;
    padding: 0 17px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    @include adaptive-font(24,18);
    @include adaptive-value("margin-top",33,20,1);


  }

  i {
    margin: 33px 0 0;
    padding: 0 17px 80px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: white;
    @include adaptive-font(24,18);
    @include adaptive-value("margin-top",33,20,1);

  }
  @media screen  and (max-width: 1503px){
    min-width: 270px;
    padding: 0 0 40px;

  }
  @media (max-width: $md4 + px) {
    min-width: 240px;
    min-height: 0;

  }
}
.services_portfolio_item:hover{
  background: linear-gradient(180deg, #8D1038 0%, #191923 100%);
  transform: scale(1.1)

}


.services_portfolio_tools {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  @media screen  and (max-width: $md3 + px){
    flex-direction:column;
  }
  @include adaptive-value("margin-top",53,20,1);
  @include adaptive-value("gap",41,17,1);

}

.portfolio_tools_red_button {
  border-radius: 4px;
  background: linear-gradient(180deg, #8D1038 0%, #191923 100%);
  padding: 15px 57px;
  color: $white;
  text-align: center;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;



  &:hover {
    @include buttonHover
  }
  @media screen  and (max-width: $md3 + px){
    padding: 15px 37px;

  }
  @include adaptive-font(28,22);
  @include adaptive-value("line-height",33,20,1);

}

.portfolio_tools_white_button {
  background: $white;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 28px */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: $fontSize28;
  padding: 15px 57px;
  transition: .3s;
  border-radius: 4px;


  @include adaptive-value("line-height",33,20,1);
  svg{
    transition: .3s;

  }
  &:hover{
    svg path{
      stroke: white;

    }
    svg{
      transform: rotate(-45deg);
    }
    color: white;
    background-color: $red;
  }

}

//portfolio end



//common problems start



.common_problems_section {

  .G-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include adaptive-value("margin-top", 145, 50, 1)

}

.common_problems_absolute {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  left: 0;
  bottom: 250px;
  z-index: -1;


  @media screen and (max-width: 1503px) {
    display: none;
  }
  svg{
    border-radius: 4px;

  }
}

.common_problems_body {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;


  @media screen and (max-width: 1503px) {
    overflow-x: scroll;
  }

}

.common_problems_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    max-width: 723px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    &:before {
      content: '';
      background-color: $red;
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -5px;
      display: block;
      transition: 3s;
    }

    &.active {
      &::before {
        width: 30%;

      }
    }

    @include h3_title();
    @include adaptive-font(52, 40);
    @include adaptive-value("line-height", 50, 40, 1)

  }

  p {
    margin: 40px 0 0;
    color: $black;
    text-align: center;
    font-family: Barlow Condensed;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
}


//RED ITEMS START

.change_icon_to_image {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.common_problems_list {
  margin-top: 33px;


}

.common_problems_scroll {
  @media screen and (max-width: 1503px) {
    min-width: 2000px;
    overflow-x: scroll;
  }

  @media screen and (max-width: 954px) {
    min-width: 1600px;
  }
  @media screen and (max-width: $md3+px) {
    min-width: 1400px;
  }
  @media (max-width: $md4 + px) {
    min-width: 680px;



  }

}

.common_problems_scroll_block {
  margin-top: 30px;
  @media screen and (max-width: 1503px) {
    overflow-x: scroll;
  }
}


.common_problems_red_items {
  display: flex;
  gap: .7%;
  @media (max-width: $md2 + px) {
    gap: .1%;

  }
}

.common_problems_red_item {
  width: 17%;
  max-height: 255px;
  border-right: 0.5px solid #FFF;
  background: var(--HAUPTFARBE, #8D1038);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;


  span {
    position: absolute;
    bottom: -40px;
    left: 50%;
    font-size: 40px;
    @media screen and (max-width: 1503px) {
      bottom: -33px;
      font-size: 35px;

    }
    @media screen and (max-width: 877px) {
      bottom: -27px;
      font-size: 28px;

    }
    @media screen and (max-width: $md4 + px) {
      bottom: -22px;
      font-size: 20px;


    }
    //@include adaptive-font(40,20)
  }

  i {
    color: white;
    @include adaptive-font(50, 20)

  }

  @media (any-hover: hover) {
    &:hover .problems_item_sub_text {
      opacity: 1;
      visibility: visible;
      top: 60px;

    }
    &:hover .common_problems_red_item_text, {
      opacity: 0;
      visibility: hidden;

    }
    &:hover .common_problems_red_item_img {
      opacity: 0;
      visibility: hidden;
      transition: .3s;

    }
  }



  @media screen and (max-width: $md3+px) {
    height: 200px;
  }
  @media (max-width: $md4 + px) {
    height: 120px;

  }

}

.common_problems_red_item_text {
  margin: 15px 0 0;
  transition: .3s;

  p {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 26px */
    padding: 4px;
    @include adaptive-font(24, 10)
  }
}


//RED ITEMS END

.problems_item_sub_text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  transition: .3s;
  padding: 20px;

  p {
    color: white;
    text-align: center;
    @include adaptive-font(15, 10)

  }
}


.common_problems_list_text_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  p {
    color: $white;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22px 0;
    @media (max-width: $md3 + px) {
      padding: 10px 0;
    }
    @include adaptive-font(55, 12)

  }

  span {
    font-size: $fontSize50;
  }

  @include adaptive-value("margin-top", 40, 20, 0)
}

.common_problems_list_text {
  background: linear-gradient(180deg, #8D1038 0%, #191923 100%);
  width: 100%;
  border-radius: 4px;

  @media (max-width: $md4 + px) {
    flex: 0 0 90%;
  }

}

.problems_list_text_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 758px) {
    img {
      width: 80%;
      height: 80%;

    }
    @media screen and (max-width: $md4 + px) {
      img {
        width: 100%;
        height: 100%;

      }
    }
  }

}

.common_problems_black_items {
  display: flex;
  gap: .7%;
  @include adaptive-value("margin-top", 40, 20, 0);
  @media (max-width: $md2 + px) {
    gap: .1%;

  }
}

.common_problems_black_item {
  width: 17%;
  max-height: 255px;
  border-right: 0.5px solid #FFF;
  background: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;
  cursor: pointer;

  span {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: rotate(180deg);
    font-size: 40px;
    @media screen and (max-width: 1503px) {
      top: -33px;
      font-size: 35px;

    }
    @media screen and (max-width: 877px) {
      top: -27px;
      font-size: 28px;

    }
    @media screen and (max-width: $md4 + px) {
      top: -22px;
      font-size: 20px;


    }


  }

  i {
    color: white;
    @include adaptive-font(50, 20)
  }

  @media screen and (max-width: $md3+px) {
    height: 200px;
    background-color: black;

  }
  @media (max-width: $md4 + px) {
    height: 120px;

  }
  @media (any-hover: hover) {
    &:hover .problems_item_sub_text {
      opacity: 1;
      visibility: visible;
      top: 60px;

    }
    &:hover .common_problems_black_item_img, {
      opacity: 0;
      visibility: hidden;

    }
    &:hover .common_problems_black_item_text {
      opacity: 0;
      visibility: hidden;
      transition: .3s;

    }
  }
}

.common_problems_black_item_text {
  margin: 15px 0 0;

  p {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 26px */
    @include adaptive-font(24, 10)

  }


}

.common_problems_list_footer {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    max-width: 1099px;
    text-align: center;
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */

    @include adaptive-font(22, 18);
    @include adaptive-value("line-height", 28, 18, 1);
    @include adaptive-value("margin-top", 44, 16, 1);

  }

}
//common problems end
